/* start Univesal style*****************/
*{margin: 0px;
  padding: 0px;  
  font-family: 'Mulish', sans-serif; }
/* end Univesal style******************/
/*****start body style****************************/
html{margin: auto;
     width: fit-content;}
body{width:1100px;
     border: 1px solid red;
    }
/*######End body style##########################/

/***start Header style***********/
header{height:560px;
     width:87%;
     margin: auto;}
 nav{
       height:17%;}   

       /* start Header nav start */
nav ol{list-style: none;}
nav a{text-decoration: none;}


nav{display: inline-block;
    width: 100%;
    height: 13%;
     display: flex;
     align-items: center;
     justify-content: center;
    /* margin-top:10px; */}
nav>ol{height:60px;
       width: 100%;
       display: flex;
        align-items: center;       
        justify-content: space-between;
        gap:90px;}    

.fast-Nav-Item{font-size: 30px;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                           gap: 10px;
                           font-size:27px;
                           color: #131318;
                           font-weight:800;}
    .fast-Nav-Item > img{width:37px;}                         
    .fast-Nav-Item>a>span{width:37px;
     color: #FF5400;

}                         
#mu{display: none;}
.second-Nav-Item{display: flex;
                 justify-content: space-between;
                 gap: 50px;
                 font-weight:800;
                 list-style: none;}  
.second-Nav-Item a{color: #131318b9;}                 
.second-Nav-Item>li:first-child>a{
     color: #FF5400;}            
  /*start In header banerContaner */
  .baner-contaner{
     width:100%;
     height:83%;
     display: flex;
      justify-content:center;
     font-weight:900;
   }
/***************************/
   .banerImg{
     border-radius:14px;
     height:100%;
       width:100%;
       display:flex;
       align-items: center;
      justify-content: center;     
      background: url(Photo/G.png) , linear-gradient(180deg, rgba(19, 19, 24, 0.609) 0%, rgba(19, 19, 24, 0.00) 100%);
      background-blend-mode:multiply ;
      background-repeat: no-repeat;
      background-size:cover;}  
/*baner Text main contaner*/
.banerText{
 width: 60%;
 height: 40%;
 color: white;
  text-align: center;
 display: flex;
 flex-direction:column;
 align-items: center;
 justify-content:space-between;
  }
.banertitle{font-size: 35px;
            font-weight: 800;}
.banerdesc{
     font-size: 11px;
     color: rgba(244, 241, 241, 0.763);
     font-weight: 700;
}


.btns{background-color: rgba(255, 255, 255, 0.304);
      border-radius:5px;
      padding: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;}
.btns >button{border-radius:3px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 6px;
     width: 120px;
     height: 35px;
     background: #FFF;
     padding:6px 12px ;
     border: none;}      
.btns > select{background: #FFF;
     border-radius:5px;
     width: 120px;
     height: 35px;
     border: none;}     
.banerText .btn{border-radius: 5px;
     background: #FF5400;
     padding:6px 12px ;
border: none;
color: white;
}
.btns >button>img{height: 90%;}
/*End In Header banerContaner */  

/* OurPopular style  */
.ourPopular{
            margin: auto;
            width:87%;
            display: flex;}
.popular_Text{width:50%;
            padding:30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items:flex-start;
            gap:10px;  } 
.popular_Text p {color: rgba(19, 19, 24, 0.70);
                    font-size:16px;
                    font-weight:600 ;}
.popular_Text p img{width:14px;}                              
.OurTital{font-size:30px;
          font-weight:700;
          color: #131318;} 
.popular_Text>button{border-radius:5px;
     background: #FF5400;

     padding:14px 19px ;
     border: none;
     font-size:17px;
     font-weight:700;
      color:white;}                     
.popular_img{width:50%;}          
.popular_img>img{width:100%;}          
/*############OurPopular style#############*/
/*********Choose Your Destination********/
.Choo_Yo_destin_Contaner{ width:87%; 
                          margin: auto;
                          text-align: center;
                          text-wrap: balance;
                          margin-top:36px;}
.Choose_Title{font-size: 31px;
              font-weight:800;
              color: #131318;}   
.choose_Desc{color: rgba(19, 19, 24, 0.709);
                margin-bottom:17px;
                font-size: 15px;
                font-weight: 700;
              
                letter-spacing:.2px;
                margin-top: 14px;}                       
.choo_Yo_img_Contaner1{
     display: flex;
     gap:10px;
}
.choo_Yo_img_Contaner2{
     display: flex;
     margin-top:5px;
     gap:10px;
}
.choo_Yo_img_Contaner3{
     display: flex;
     gap:10px;
     border: green dotted 1px;
}

.img_box{
         position:relative;
         height: fit-content;         
          margin-top:5px; }
.img_box>p{position: absolute;
           top:40%;
           left:37.5%;
           font-weight:600;
           font-size:25px;
           color: #eff7f7;}
.img_box>img{width: 100%;
             height: 100%;}       
       
        
       
/*#########Choose Your Destination##########*/

/* *********Start Why Choose US*********/
.why_choose_us_contaner{
                        width: 87%;
                        margin: auto;
                        margin-top: 45px;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;}
.why_Choose_title{color: #131318;
                  font-weight: 800;
                  font-size: 33px;
}
.why_choose_desc{color: rgba(19, 19, 24, 0.70);
      font-size: 15px;
       font-weight: 700;


                }                        

.Cards{
      display: flex;
     flex-wrap: wrap;
     justify-content: center;
      gap: 15px;}

.Card{border-radius: 15px;
     text-align:left;
     width: 45.6%;
     padding: 15px;
     display: flex;
     flex-direction: column;
     gap: 13px;}
.cardDesc{color: #5A5A5D;} 
.cardTitle{color: #131318;
            font-size: 19px;
            font-weight: 700;}    

.handpicked{
     border-radius: 16px;
     border: 1px solid rgba(251, 181, 99, 0.20);
     background: rgba(251, 181, 99, 0.05);}
.worldClassSer{
     border-radius: 16px;
     border: 1px solid rgba(41, 206, 246, 0.20);
     background: rgba(41, 206, 246, 0.05);}
.BestPrice{
     border-radius: 16px;
     border: 1px solid rgba(233, 68, 68, 0.20);
     background: rgba(233, 68, 68, 0.05);}

/* ###########End vWhy Choose US######### */
/******News Letter section start******************/
.Newsletter-main-Contaner{height:fit-content;
     width:87%;
     margin: auto;
margin-bottom: 60px;
margin-top: 60px;
display: flex;
gap: 20px;}
.Newsletter-text-contaner{
     border-radius: 16px;
     border: 1px solid #FF5400;
     padding: 5px;
     padding: 40px;
     width:35%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
.newtitle{font-size: 40px;}
.newdesc{color: #5A5A5D;
font-size: 14px;
 line-height:19px;}
.in_E-y-n, .in_E-y-E{height: 40px;
                     border: none;
                     background: rgba(19, 19, 24, 0.05);
                     border-radius:5px;                    }
.in_E-y-n::placeholder{padding-left: 15px;
                        font-size:15px;
                        font-weight: 600;}
.in_E-y-E::placeholder{padding-left: 15px;
                       font-size:15px;
                       font-weight: 600;}
.new_submit-btn{border-radius:5px;
     background: #FF5400;
     height: 40px;
     border: none;
     font-size:17px;
     font-weight:700;
      color:white;   }

.feature-img-contaner{
                      border-radius: 12px;

width:65%;}
.feature-img-contaner > img {width:100%;}
/*##########End News Letter###############*/
/*start business travel solution  */
.Business_Contaner{
            width:98%;
           margin: auto;
           margin-top: 40px;
           margin-bottom: 50px;
           background: url(Photo/hand.jpg) ;
           background-color: rgba(255, 255, 255, 0.248);
           background-blend-mode:overlay;
           background-repeat: no-repeat;
           background-position: left;
           background-size: contain;
           display: flex;
           justify-content:flex-end;
           align-items: center;
           padding-left: 10px;
           box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.668); 
           border-radius:9px;
     }
.businessText{width:60%;
                background-color: rgb(255, 255, 255);
              display: flex;
              padding-right: 35px;
              flex-direction:column;
              padding:30px;
              gap:10px;}         
.buinessTitile{font-family: Montserrat Helvetica Arial,Lucida,sans-serif;
font-size:25px;
color: #4d4d4d;}          
.box{border-left: 2px solid #ff5500b9;
     font-family: Montserrat Helvetica Arial,Lucida,sans-serif;
    padding-left: 10px;
    display:flex;
    flex-direction: column;
    gap:5px;}    
.box1title{color: #ff5500b9;}    
.boxdec{font-size: 13px;}
.boxli{color: #ff5500b9;}

.box2{border-left: 2px solid rgba(240, 87, 10, 0.846);
     padding-left: 10px;}
.box1title2{color:rgba(240, 87, 10, 0.846);}    
.boxdec2{font-size: 13px;}
.boxli2{color: #ff5500ef;}

.box3{border-left: 2px solid  #f72606;
       padding-left: 10px;}
.box1title3{color: #ff5500fc;}    
.boxdec3{font-size: 13px;}
.boxli3{color: #f72606;}
/*End business travel solution  */



/*********footer all page style*********/
footer{background: rgba(19, 19, 24, 0.05);
     margin: auto;
     height:300px;
     display: flex;
     align-items: center;
     justify-content: center;
   }
.content-footer{
     width:70%;
     display: flex;
     font-family: 'Inter Tight', sans-serif;
     font-weight: 400;
     letter-spacing: 1px;
     flex-direction:column;
     justify-content:center;
     gap:26px;
     margin: auto;}
.logo{font-size: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
      gap: 10px;
      font-size:27px;
      color: #131318;
      font-weight:800;}
.footerdec{text-align: center;
     color: #5A5A5D;
     font-weight: 500;
     font-size: 12px;
       }      
.logo>a{text-decoration: none; 
       color: black;}
.logo>a>span{color: #FF5400;}             

.hero-section2{
border-bottom: 3px solid gray;}
.hero-section2>.sosial{

width: fit-content;
margin: auto;
display:flex;
justify-content: center;
align-items: center;
gap: 25px;}
.sosial>img{width: 50px;}
.All_Right-Subscribe{
                  display: flex;
                  justify-content:center;
               align-items: center;
               margin-bottom:20px;
               color: #131318;
               font-family: 'Inter', sans-serif;
}


/* End--------Footer style-------------- */
 





/*****All Media Query Mobile***************/
@media screen and (min-width:300px) and (max-width:600px) { 
     html{width: fit-content;}
     body{width:100%;} 
     header{height:540px;}
     .fast-Nav-Item{font-size: 18px;}
     .second-Nav-Item{display: none;}

     .banertitle{font-size:24px;}
  #mu{display: block;
     width: 20px;}
  #mu:hover .second-Nav-Item{display: block;
                             position: absolute;}
                             .banerImg{background-size: cover;
                                       background-position: center;}
                             .banerText{height: fit-content;
            gap: 10px;}

  .btns{flex-direction:column;
        width:60%;
        justify-content: center;
       align-items: center;
       gap:5px;}          
   /* news Letter  */
   .Newsletter-main-Contaner{margin-bottom:30px;
     margin-top:30px;
     flex-direction: column;}

.Newsletter-text-contaner{width:95%;
     padding: 8px;
     gap: 10px;
     height:fit-content;}
 .newtitle{font-size:25px;}
 .new_submit-btn{margin-bottom: 10px;}
 .feature-img-contaner{width: 100%;
                       margin-top: 10px;}
 .feature-img-contaner > img {height:100%;}
/****our popular tours*/
  .ourPopular{flex-direction: column;
              box-shadow: 0px 0px 20px 1px rgba(128, 128, 128, 0.677);
               border-radius: 10px;} 
 .popular_Text{width:90%;}        
 .popular_img{width:100%;
              margin-top:-27px;
             height: 300px;}
 .popular_img >img{height:100%;}

/*Start Business Travel solutions  */
.Business_Contaner{background: none;
     padding: 0px;
     margin: 0px;
     margin-left: 4px;
 justify-content: center;}
 .businessText{width:97%;

  padding:0px;
  margin:10px;}
.box{padding: 0px;
     width: 100%;}
/*######end Business Travel solutions####*/
.choo_Yo_img_Contaner2,
.choo_Yo_img_Contaner3,
.choo_Yo_img_Contaner1{flex-direction:column;}
.img_box{height:230px;}
/*##########All Media Query Mobile######*/

/*start Start Why Choose US */
.Card{width: 100%;}
/*end Start Why Choose US */


/**********All Media query Desktop*********/
}
@media screen and (min-width:993px) and (max-width:1100px) {


}
/*#########All Media query Desktop############*/










