/* font-family: 'Inter', sans-serif;*/
/* start Univesal style*****************/
*{margin: 0px;
  padding: 0px;  
  font-family: 'Mulish', sans-serif; }
/* end Univesal style******************/
/*****start body style****************************/
html{
     width: fit-content;}
body{width:1100px;
     border: 1px solid red;
     margin: auto;}
/*######End body style##########################/

/***start Header style***********/
header{height:560px;
     width:87%;
     margin: auto;}
 nav{
       height:17%;}   

       /* start Header nav start */
nav ol{list-style: none;}
nav a{text-decoration: none;}


nav{display: inline-block;
    width: 100%;
    height: 13%;
     display: flex;
     align-items: center;
     justify-content: center;
    /* margin-top:10px; */}
nav>ol{height:60px;
       width: 100%;
       display: flex;
        align-items: center;       
        justify-content: space-between;
        gap:90px;}    

.fast-Nav-Item{font-size: 30px;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                           gap: 10px;
                           font-size:27px;
                           color: #131318;
                           font-weight:800;}
    .fast-Nav-Item > img{width:37px;}                         
    .fast-Nav-Item>a>span{width:37px;
     color: #FF5400;

}                         
#mu{display: none;}
.second-Nav-Item{display: flex;
                 justify-content: space-between;
                 gap: 50px;
                 font-weight:800;
                 list-style: none;}  
.second-Nav-Item a{color: #131318b9;}                 
.second-Nav-Item>li:first-child>a{
     color: #FF5400;}            
  /*start In header banerContaner */
  .baner-contaner{
     width:100%;
     height:83%;
     display: flex;
      justify-content:center;
     font-weight:900;
   }
/***************************/
   .banerImg{
     border-radius:14px;
     height:100%;
       width:100%;
       display:flex;
       align-items: center;
      justify-content: center;     
      background: url(Photo/G.png) , linear-gradient(180deg, rgba(19, 19, 24, 0.609) 0%, rgba(19, 19, 24, 0.00) 100%);
      background-blend-mode:multiply ;
      background-repeat: no-repeat;
      background-size:cover;}  
/*baner Text main contaner*/
.banerText{
 width: 60%;
 height: 40%;
 color: white;
  text-align: center;
 display: flex;
 flex-direction:column;
 align-items: center;
 justify-content:space-between;
  }
.banertitle{font-size: 35px;
            font-weight: 800;}
.banerdesc{
     font-size: 11px;
     color: rgba(244, 241, 241, 0.763);
     font-weight: 700;
}


.btns{background-color: rgba(255, 255, 255, 0.304);
      border-radius:5px;
      padding: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;}
.btns >button{border-radius:3px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 6px;
     width: 120px;
     height: 35px;
     background: #FFF;
     padding:6px 12px ;
     border: none;}      
.btns > select{background: #FFF;
     border-radius:5px;
     width: 120px;
     height: 35px;
     border: none;}     
.banerText .btn{border-radius: 5px;
     background: #FF5400;
     padding:6px 12px ;
border: none;
color: white;
}
.btns >button>img{height: 90%;}
/*End In Header banerContaner */                 
/*##start Header style##########*/

/******Nes Letter section start******************/
.Newsletter-main-Contaner{height:fit-content;
     width:87%;
     
     margin: auto;
margin-bottom: 60px;
margin-top: 60px;
display: flex;
gap: 20px;}
.Newsletter-text-contaner{
     border-radius: 16px;
     border: 1px solid #FF5400;
     padding: 5px;
     padding: 40px;
     width:35%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
.newtitle{font-size: 40px;}
.newdesc{color: #5A5A5D;
font-size: 14px;
 line-height:19px;}
.in_E-y-n, .in_E-y-E{height: 40px;
                     border: none;
                     background: rgba(19, 19, 24, 0.05);
                     border-radius:5px;                    }
.in_E-y-n::placeholder{padding-left: 15px;
                        font-size:15px;
                        font-weight: 600;}
.in_E-y-E::placeholder{padding-left: 15px;
                       font-size:15px;
                       font-weight: 600;}
.new_submit-btn{border-radius:5px;
     background: #FF5400;
     height: 40px;
     border: none;
     font-size:17px;
     font-weight:700;
      color:white;   }

.feature-img-contaner{
                      border-radius: 12px;

width:65%;}
.feature-img-contaner > img {width:100%;}
/*##########End News Letter###############*/


/*****All Media Query Mobile***************/
@media screen and (min-width:300px) and (max-width:600px) {
     html{width: fit-content;}
     body{width:100%;} 
     header{height:540px;}
     .second-Nav-Item{display: none;}
  #mu{display: block;
     width: 20px;}
  #mu:hover .second-Nav-Item{display: block;
                             position: absolute;}
                             .banerImg{background-size: cover;
                                       background-position: center;}
                             .banerText{height: fit-content;
            gap: 10px;}

  .btns{flex-direction:column;
        width:60%;
        justify-content: center;
       align-items: center;
       gap:5px;}          
   /* news Letter  */
   .Newsletter-main-Contaner{margin-bottom:30px;
     margin-top:30px;
     flex-direction: column;
}
.Newsletter-text-contaner{width:95%;
     padding: 8px;
     gap: 10px;
     height:fit-content;}
 .newtitle{font-size: 30px;}
 .new_submit-btn{margin-bottom: 10px;}
 .feature-img-contaner{width: 100%;
 margin-top: 10px;}
 .feature-img-contaner > img {height:100%;}
}
/*##########All Media Query Mobile######*/

/**********All Media query Desktop*********/
@media screen and (min-width:993px) and (max-width:1100px) {


}
/*#########All Media query Desktop############*/










